* {
  padding: 0;
  margin: 0;
}

body {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .key {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
  }
  .active {
    background-color: blue;
    color: white;
  }
}
